.header {
  &__button {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2.125rem;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.7;
    }
    & input {
      opacity: 0;
      width: 0;
      height: 0;
      transition: all 0.2s;
      &:checked + .header__slider {
        transition: all 0.2s;
        background-image: var(--Linear-Gradient);
      }
      &:focus + .header__slider {
        box-shadow: 0 0 0.0625rem #2196f3;
      }
      &:checked + .header__slider:before {
        -webkit-transform: translateX(1.625rem);
        -ms-transform: translateX(1.625rem);
        transform: translateX(1.625rem);
      }
    }
  }
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &::before {
      position: absolute;
      content: "";
      height: 1.625rem;
      width: 1.625rem;
      left: 0.25rem;
      bottom: 0.25rem;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    &__round {
      border-radius: 2.125rem;
      &:before {
        border-radius: 50%;
      }
    }
  }
}
