.main {
  max-height: 100vh;
  width: 100%;
  &__wrapper {
    max-width: 1020px;
    padding: 0px 20px;
    height: max-content;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 1rem;

    @include for-size(desk) {
      margin: 0 auto;
      gap: 0;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "one two three";
    }
  }
  &__card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    max-width: 370px;
    height: 390px;
    align-self: center;
    padding: 30px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px -30px var(--Grayish-Blue);

    &--negative {
      background-color: transparent;
      background-image: var(--Linear-Gradient);
      box-shadow: 0px 0px 40px -20px var(--Grayish-Blue);
    }
    @include for-size(desk) {
      &--negative {
        height: 430px;
        z-index: 1;
        align-self: center;
      }
      &.one {
        grid-column: one;
        grid-row: 1;
        transform: translateX(20px);
      }
      &.two {
        grid-column: two;
        grid-row: 1;
      }
      &.three {
        grid-column: three;
        grid-row: 1;
        transform: translateX(-20px);
      }
    }
  }
  &__title {
    font-size: 15px;
    color: var(--Grayish-Blue);
  }
  &__money {
    margin: 20px 0px;
    color: var(--Dark-Grayish-Blue);
    font-size: 60px;
  }
  &__list {
    width: 80%;
    margin-bottom: 20px;
    list-style: none;
    border-top: solid 1px var(--Light-Grayish-Blue);
    color: var(--Grayish-Blue);
  }
  &__get {
    padding: 10px 0px;
    font-size: 13px;
    border-bottom: solid 1px var(--Light-Grayish-Blue);
  }
  &__button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-image: var(--Linear-Gradient);
    font-size: 13px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    &--negative {
      background-image: none;
      background-color: white;
      & p {
        background-image: var(--Linear-Gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
.negative-colors {
  color: white;
}
