@import "./abstracts/color";
@import "./utils/mixins";
@import "./modules/btn";
@import "./modules/header";
@import "./modules/card";

//fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

//genreal styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  background-color: var(--Very-Light-Grayish-Blue);
  background-image: url("../images/bg-top.svg");
  background-position: top right;
  background-size: 230px;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;

  @include for-size(tablet) {
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-size: auto;
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
  }
}
